* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    list-style: none;
}

body {
    min-height: 100vh;
    display: grid;
    position: relative;
    background: linear-gradient(-45deg, #015C92, #2D82B5, #52a6d8, #88CDF6, #BCE6FF);
    background-size: 400% 400%;
    animation: animate 10s ease-in-out infinite;
}

.announcement-section {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    background: linear-gradient(-45deg, #015C92, #2D82B5, #52a6d8, #88CDF6, #BCE6FF);
    background-size: 400% 400%;
    animation: animate 10s ease-in-out infinite;
}

.winner {
    font-weight: 900;
}

.main-section {
    grid-row: 2/3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ecf0f3;
}

.avatar-one, .avatar-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.avatar-one > img, .avatar-two > img{
    width: 200px;
    height: 200px;
} 

.player-one-nametag, .player-two-nametag {
    font-size: 1.5rem;
    font-weight: 700;
}

.gameboard {
    width: 510px;
    height: 510px;
    display: flex;
    flex-direction: column;
}

.gameboard > div {
    flex-grow: 1;
    display: flex;
}

.gameboard > div > div {
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 175px;
}

.row-1, .row-2 {
    border-bottom: 8px solid black; 
}

.row-1 :nth-child(-n+2), .row-2 :nth-child(-n+2), .row-3 :nth-child(-n+2) {
    border-right: 8px solid black;
}

.button-section {
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    background: linear-gradient(-45deg, #015C92, #2D82B5, #52a6d8, #88CDF6, #BCE6FF);
    background-size: 400% 400%;
    animation: animate 10s ease-in-out infinite;
}

.restart-btn, .game-mode {
    padding: 2.5px 10px;
    font-size: 1.5rem;
    font-weight: 900;
    border: 2px solid black;
    border-radius: 17px;
    color: black;
}

.restart-btn:hover, .game-mode:hover {
    border: 2px solid #8fdff5;
    background-color:#8fdff5;
    color: #ffffff;
    box-shadow: 3px 4px 4px rgba(138,131,117,0.4);
}

.modal-1, .modal-2 {
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 3px 4px 4px rgba(138,131,117,0.4);
    border: 0px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-1 > form, .modal-2 > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7.5px;
}

.submit-player-names, .submit-player-name {
    border: 2px solid black;
    padding: 3.5px 9px;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 15px;
    background-color: #fff;
}

.submit-player-names:hover, .submit-player-name:hover {
    background-color: rgb(76, 193, 235);
    box-shadow: 3px 4px 4px rgba(138,131,117,0.4);
    background: linear-gradient(-45deg, #015C92, #2D82B5, #52a6d8, #88CDF6, #BCE6FF);
    background-size: 400% 400%;
    animation: animate 10s ease-in-out infinite;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputs label {
    font-size: 1rem;
    font-weight: 700;
}

.inputs input {
    border: 2px solid rgba(94, 90, 81, 0.4);
    font-size: 1rem;
    padding: 1.5px 7.5px;
    border-radius: 15px;
    width: 150px;
}

.inputs input:focus {
    border: 2px solid rgb(37, 150, 190);
    box-shadow: 3px 4px 4px rgba(138,131,117,0.4);
}

.inputs > div {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.close-button-1, .close-button-2 {
    align-self: end;
    border-radius: 50%;
    width: 22.5px;
    height: 22.5px;
    font-size: 0.85rem;
    border: 0px;
    font-weight: 900;
    background-color: #f8858b;
    text-align: center;
}

.close-button-1:hover, .close-button-2:hover {
    background-color: #e54c38;
    box-shadow: 3px 4px 4px rgba(138,131,117,0.4);
    color: #ffffff;
}

.initial-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.initial-section label {
    font-size: 1rem;
    font-weight: 700;
}

.PvP-Mode, .PvC-Mode {
    width: 475px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 3px 5px 5px rgba(138,131,117,0.4);
    border: 0px;
    padding: 12.5px;
}

.PvP, .PvC {
    border: 2px solid black;
    padding: 5px 12px;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 15px;
    background-color: #fff;
}

.PvP:hover, .PvC:hover {
    background-color: rgb(76, 193, 235);
    box-shadow: 3px 4px 4px rgba(138,131,117,0.4);
    background: linear-gradient(-45deg, #015C92, #2D82B5, #52a6d8, #88CDF6, #BCE6FF);
    background-size: 400% 400%;
    animation: animate 10s ease-in-out infinite;
}

.PvP-Mode > form, .PvC-Mode > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.title {
    font-size: 1.3rem;
    font-weight: 900;
}

.PvP-input-section {
    display: flex;
    gap: 30px;
}

.PvP-Mode input, .PvC-Mode input {
    border: 2px solid rgba(94, 90, 81, 0.4);
    font-size: 1rem;
    padding: 2.5px 9px;
    border-radius: 15px;
}

.PvP-Mode input:focus, .PvC-Mode input:focus {
    border: 2px solid rgb(37, 150, 190);
    box-shadow: 3px 4px 4px rgba(138,131,117,0.4);
}

.first-player-section, .second-player-section, .PvC-input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-player-section > img,  .second-player-section > img, .PvC-input-section > img{
    width: 75px;
    height: 75px;
}

@media (max-width: 925px) {
    .avatar-one, .avatar-two {
        display: none;
    }
}

@media (max-width: 550px) {
    .gameboard {
        width: 345px;
        height: 345px;
    }

    .gameboard > div > div {
        width: 115px;
        height: 115px;
        font-size: 120px;
    }

    body {
        background-size: 30% 2000%;
    }
}

@keyframes animate{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}